.home__bg__image {
  width: 100%;
  min-width: 312px;
  min-height: 243px;
}

.text__heading {
  color: aquamarine;
  text-align: center;
}



.parent__text {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);

  text-align: center;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}

.text__heading__image {
  color: #fff;
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
  /* font-size: 48px; */
  font-weight: 500;
}

.text__heading2 {
  color: rgb(255, 149, 0);
  /* font-size: 28px; */
  font-size: clamp(1rem, 2vw + 0.5rem, 3rem);

  font-weight: 400;
  margin-top: 33px;
  font-family: "Montserrat", sans-serif;
}

.btn__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  margin: 10px;
  color: #fff;
  background: #2c528c;
  transition: 0.5s;
  list-style: none;
  text-decoration: none;
  margin-top: 64px;
}

.home__container {
  min-width: 314px;
  
}





.btn__heading:hover {
  background-color: rgb(255, 149, 0);
}

.home__image__container {
  min-width: 314px;
  position: relative;
}

.text__container {
  background-color: rgba(0, 0, 0, 0.185);
  opacity: 0.35;
}

.button__text {
  color: white;
}

.product__row__2 {
  position: relative;
}

.product__row__3 {
  position: relative;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* this is for the responsive ness for size smaller width 518px*/

@media (max-width: 518px) {
  .product__row__1 {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    padding: 0px 4px;
  }

  .product__row__2 {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    padding: 0px 4px;
  }
}

.super__container{
  max-height: 65%;
  position: relative;
}

.box__main__container{
  height: 100%;
 
}

.igm__container{
  height: 100%;
}

/*this for the responsive ness for larger width 519px*/

@media (min-width: 519px) {
  .product__row__1 {
    display: flex;
    padding-right: 79px;
    padding-left: 79px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .product__row__2 {
    display: flex;
    position: relative;
    padding-right: 79px;
    padding-left: 79px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .product__row__3 {
    display: flex;
    padding-right: 79px;
    padding-left: 79px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  
}
