.payment {
    background-color: white;
}

.payment__container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
  }

  .payment__section {
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
   font-size: 23px;
}

.delivery__address{
    font-size: clamp(1rem,33px, 3rem);
}

.parent__container {
    display: flex;
    background-color: white;
    height: max-content;
  }
  .amazon__ad {
    width: 100%;
  }
  
  .bakste__ad__container {
    width: 100%;
    min-width: 100px;
    margin: 10px;
    padding: 0px 5px;
  }
  
  .parent__subtotal__container {
    width: 300px;
    height: max-content;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 12px 10px;
  }
  
  .basket__image {
    position: relative;
    width: 100%;
  }
  
  .basket__product__container {
    display: flex;
    margin-top: 102px;
  }
  
  .product__info {
    display: flex;
    flex-direction: column;
  }
  
  .info__button {
    background: #f0c14b;
    border: 1px solid #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 10px;
    cursor: pointer;
  }
  .star__container {
    display: flex;
  }
  
  .dollar__sign {
    display: inline;
  }
  /*this is for size larger than 519px screen*/
  
  @media (min-width: 519px) {
    .parent__subtotal__container {
      padding: 5px 10px;
    }
  
    .shopping__heading {
      margin-right: 10px;
      padding: 10px;
      border-bottom: 1px solid lightgray;
    }
  
    .subtotal__gift {
      display: flex;
      align-items: center;
    }
  
    .subtotol__input {
      cursor: pointer;
      margin-right: 5px;
    }
  
    .subtotal__btn {
      background: #f0c14b;
      border-radius: 2px;
      width: 100%;
      height: 30px;
      border: 1px solid;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
      cursor: pointer;
    }
  
    .subtotal__para {
      font-size: 2vw;
    }
  
    .image__product {
      width: 522px;
      min-width: 170px;
      margin: 10px;
    }
  
    .info__price__number {
      font-size: 2vw;
    }
  
    .info__price__dollar {
      font-size: 1.5vw;
    }
  
    .basket__product__container {
      display: flex;
      justify-content: center;
    }
  
    .product__info {
      min-width: 130px;
      top: -30px;
      position: relative;
    }
  
    .basket__image {
      position: relative;
      width: 100%;
    }
    .info__description {
      font-size: clamp(14px, 3vw, 2rem);
    }
  }
  /* this is for smaller than 518px */
  @media (max-width: 518px) {
    .amazon__ad {
      display: none;
    }
  
    .subtotal__para {
      font-size: 4vw;
    }
    .parent__subtotal__container {
      padding: 3px 8px;
    }
    .subtotal__btn {
      background: #f0c14b;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 20px;
      border: 1px solid;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
      cursor: pointer;
    }
  
    .shopping__heading {
      margin-right: 5px;
      padding: 5px;
      font-size: clamp(0.4rem, 22px 3rem);
      border-bottom: 1px solid lightgray;
    }
  
    .basket__image {
      position: relative;
      width: 100%;
    }
    .image__product {
      min-width: 170px;
    }
    .basket__product__container {
      display: flex;
      display: inline-block;
      flex-direction: column;
    }
  
    .parent__subtotal__container {
      padding: 2px;
      min-width: 50px;
    }
    .product__info {
      margin: 10px;
    }
    .bakste__ad__container {
      margin: 5px;
      padding: 0px 2px;
    }
  }
  