.product__container {
  background-color: white;
  position: relative;
  min-width: 230px;
  flex: 1;
  margin: 21px;
}

.product__container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product__container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.303);
  transform: translateY(-2px) scale(1.01);
  cursor: pointer;
}

.image__container {
  display: flex;
 
  margin: 8px 15px;
  justify-content: center;
  min-width: 100px;
}

.product__image {
  min-width: 100px;
  margin-top: 3px;
  max-height: 200px;
 
  min-height: 100px;
}
.product__info {
  margin: 7px 29px;
  text-transform: capitalize;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  /* font-size: 4vw; */
}

.product__price {
  margin: 7px 29px;
}

.product__rating {
  margin: 7px 29px;
}

.product__btn__container {
  display: flex;
  justify-content: center;
}

.product__btn {
  margin-bottom: 15px;
  background-color: #f0c14b;
  border: 2px solid #a88734;
  cursor: pointer;
}

/*this is for the size larger than 519px*/

@media (min-width: 519px) {
  .product__info {
    font-size: clamp(1rem, 1vw, 2rem);
  }
}

@media (max-width: 480px) {
  .image__container {
    margin: 5px;
  }
  .product__image {
    max-height: 233px;
  }
}
